.body {
  width: 900px;
  margin: 0 auto;
  padding: 100px 0px;
}

.input {
  width: 100%;
  margin-bottom: 50px;

  p {
    font-size: 20px;
    color: rgba($color: #ffffff, $alpha: .68);
    margin-bottom: 12px;
    padding-left: 2px;
  }

  input {
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    border-radius: 35px;
    background-color: rgba($color: #ffffff, $alpha: .08);
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
  }
}

.btn {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 26px;
  text-align: center;
  margin-top: 70px;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  background:linear-gradient(270deg,rgba(71,172,224,1) 0%,rgba(62,130,234,1) 100%);
}